@media (max-width: 1350px){

	
	body{
		width: 100vw;
		height: 100vh;
		background-color: black;
	}
	
    *{
        width: 100vw;
    }
	
	.logo{
		width: 50vw;
		height: 30vh;
		display: flex;
        justify-content: space-around;
        justify-content: space-between;
		background-color: black;
        
       
	   
	
		}

        .botonMenu{
            height: 25vh;
            width: 10vw;
            font-size: 25px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
.logoImage{
    width: 40vw;
    height: 25vh;
}
        

        .logoImageMovil{
          display: flex;
          align-items: start;
            justify-content: start;
          width: 5vw;
        }
        

		nav ul{
			display: flex;
            flex-direction: column;
            justify-content: space-around;
			list-style: none;
            padding-left: 5px;
            height: 30vh;

			
		}
        .navegacion{
            position: absolute;
            top: 0;
            left: 0;
            justify-content: space-around;
            align-items: start;
            background-color: black;
            height: 100vh;
            width: 60vw;
            font-size: 15px;
            box-shadow: 0 0 0 100vmax rgb(0, 0, 0, 0.5);

            opacity: 0;
            visibility: hidden;
        }
		span{
            display: none;
        }
        i{color: white;}
        .navegacion-visible{
            opacity: 1;
          visibility: visible;
        }

.navBarButton{
    color: white;
    width: 1px;
    position: absolute;
    left: 4vh;
}


.imagenNavegacionMovil{
    width: 25vw;
}

.navegacionMovil{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 10px;
}
        
		nav ul li a{
			color: white;
			text-decoration: none;
			
		}

	

        .slider-frame {
            width: 90vw;
            height: auto;
            margin:50px auto 0;
            margin-top: 0px;
            overflow: hidden;
            background-color: #121212;
            
        }

        html{
            width: 100vw;
        }
	
}
        .newCollectionTitle {
    font-size:small;
    text-align: center;

}

