.slider-frame {
	width: 1000px;
    height: auto;
	margin:50px auto 0;
	margin-top: 0px;
	overflow: hidden;
	background-color: #121212;
	
}

.slider-frame ul {
	display: flex;
	padding: 0;
	width: 800%;
	background-color: black;
	animation: slide 35s infinite alternate ease-in-out;
}

.slider-frame li {
	width: 100%;
	list-style: none;
}

.slider-frame img {
	width: 100%;
}

@keyframes slide {
	0% { margin-left: 0; }          /* Primera imagen */
	6.25% { margin-left: 0; }       /* Mantener primera imagen */
	
	12.5% { margin-left: -100%; }   /* Segunda imagen */
	18.75% { margin-left: -100%; }  /* Mantener segunda imagen */
	
	25% { margin-left: -200%; }     /* Tercera imagen */
	31.25% { margin-left: -200%; }  /* Mantener tercera imagen */
	
	37.5% { margin-left: -300%; }   /* Cuarta imagen */
	43.75% { margin-left: -300%; }  /* Mantener cuarta imagen */
	
	50% { margin-left: -400%; }     /* Quinta imagen */
	56.25% { margin-left: -400%; }  /* Mantener quinta imagen */
	
	62.5% { margin-left: -500%; }   /* Sexta imagen */
	68.75% { margin-left: -500%; }  /* Mantener sexta imagen */
	
	75% { margin-left: -600%; }     /* Séptima imagen */
	81.25% { margin-left: -600%; }  /* Mantener séptima imagen */
	
	87.5% { margin-left: -700%; }   /* Octava imagen */
	100% { margin-left: -700%; }  /* Mantener octava imagen */

	
}

